﻿@page "/realizowane"
@inject IOrder OrderRepository
@inject IProduct ProductRepository

@if (orders == null)
{
    <p><em>Ładowanie...</em></p>
}
else if (orders.Count == 0)
{
    <p style="margin:auto;"><em>Brak zamówień</em></p>
}
else
{
    @foreach (OrderEntity order in orders.Where(o => !o.IsDone).OrderBy(o => o.CreateDate))
    {
        <div class="row" style="margin-top:20px;">
            <div class="col-9">
                <div class="row">
                    @foreach (ProductCountEntity product in order.Products)
                    {
                        <div class="col-6">@product.Product.Name @(string.IsNullOrEmpty(product.Product.SubName)? product.Product.SubName:"") Ilość:@product.Count </div>
                    }
                    @if (!string.IsNullOrEmpty(order.Comment))
                    {
                        <div class="col-12">@order.Comment</div>
                    }
                </div>
                <div class="row col-12">
                    <div class="col"><button @onclick="()=>EditProducts(order)">Produkty</button></div>
                    <div class="col"><button @onclick="()=>EditComment(order)">Dodaj Komentarz</button></div>
                </div>
            </div>
            <div class="col-3">
                <div class="row col-12">@order.CreateDate.ToShortTimeString()</div>
                @if (order.IsOwnPickup)
                {
                    <div class="row col-12">Odbiór własny @(order.PackIt?"zapakować":"") </div>
                    <button class="btn" @onclick="() => SetPack(order)">zmień</button>
                }
                else
                {
                    <div class="row col-12">
                        @order.Address
                    </div>
                }
                <div class="row col-12">
                    @(order.IsPaid?"Zapłacono":"Do zapłaty: ")
                    @if (!order.IsPaid)
                    {
                        @order.TotalPrice
                    }
                    <button @onclick="()=>SetPaid(order)">zmień</button>
                </div>
                <div class="row col-12">
                    <button class="btn btn-success" @onclick="()=>SetDone(order)">Zrobione!</button>
                </div>
            </div>
        </div>
    }
}
@if (showProduct)
{
    <div class="row" style="position:fixed;top:40%;left:50%;height:20vh;width:50vw;margin-left:-25vw;background-color:gray;">
        <div class="col-12">
            <EditForm Model="orderToEdit" style="height:100px;">
                @foreach (ProductCountEntity product in orderToEdit.Products)
                {
                    <div class="row col">@product.Product.Name @product.Comment <button @onclick="(()=>DecrementCount(product))">-</button>@product.Count<button @onclick="(()=>product.Count++)">+</button> </div>
                }
                <div class="row ">
                    <div class="offset-2 col-6" style="font-size:20px;"><InputText @bind-Value="cashNumber" onkeypress='return event.charCode >= 48 && event.charCode <= 57' style="position:absolute;margin:auto;"></InputText></div><button class="col-2 btn" @onclick="AddProduct">Dodaj</button>
                </div>
            </EditForm>
            <div class="row">
                <div class="col-3"><button @onclick="SaveProducts">Zamknij</button></div>
            </div>
        </div>
    </div>
}
@if (showSauce)
{
    <div class="row" style="position:fixed;top:40%;left:50%;height:20vh;width:50vw;margin-left:-25vw;">
        <div class="col-12">
            <div class="row">
                <div class="col-3"><button class="btn" @onclick="@(()=>SetSauce("Łagodny"))">Łagodny</button></div>
                <div class="col-3"><button class="btn" @onclick="@(()=>SetSauce("Mieszany"))">Mieszany</button></div>
                <div class="col-3"><button class="btn" @onclick="@(()=>SetSauce("Ostry"))">Ostry</button></div>
                <div class="col-3"><button class="btn" @onclick="@(()=>SetSauce("Ketchup"))">Ketchup</button></div>
            </div>
        </div>
    </div>
}
@if (showExtend)
{
    <div class="row" style="position:fixed;top:40%;left:50%;height:20vh;width:50vw;margin-left:-25vw;background-color:gray;">
        @foreach (ProductEntity item in byCashWait.Result)
        {
            <div class="col-6" style="border:solid;border-color:rebeccapurple;font-size:20px;" @onclick="(()=>PickProduct(item))"><span style="position:absolute;margin:auto;">@item.Name : @item.Price</span></div>
        }
    </div>
}
@if (showComment)
{
    <div class="row">
        <div class="offset-1 col-8">
            <EditForm Model="orderToEdit" style="height:100px;">
                <InputText @bind-Value="orderToEdit.Comment"></InputText>
            </EditForm>
        </div>
        <div class="col-3"><button @onclick="SaveProducts">Zapisz</button></div>
    </div>
}

@code {
    bool showProduct = false;
    bool showSauce = false;
    string cashNumber { get; set; }
    bool editOrder { get; set; }
    bool showComment { get; set; }
    bool showExtend = false;
    OrderEntity orderToEdit { get; set; }
    ProductCountEntity pc = new ProductCountEntity();
    private List<OrderEntity> orders;
    Task<List<ProductEntity>> byCashWait;

    protected override async Task OnInitializedAsync()
    {
        orders = await OrderRepository.GetOrdersAsync();
    }
    private async Task SetDone(OrderEntity order)
    {
        order.FinishDate = DateTime.Now;
        order.IsDone = true;
        await OrderRepository.UpdateAsync(order);
    }
    private void AddProduct()
    {
        if (cashNumber.Trim().Length > 0)
        {
            byCashWait = ProductRepository.GetProductByCashNumberAsync(Int32.Parse(cashNumber));
            byCashWait.Wait();
            if (byCashWait.Result.Count == 1)
            {
                pc.ProductId = byCashWait.Result[0].Id;
                pc.OrderId = orderToEdit.Id;
                pc.Product = byCashWait.Result[0];
                if (byCashWait.Result[0].CheckSauce)
                {
                    pc.Product = byCashWait.Result[0];
                    showSauce = true;
                }
                else
                {
                    orderToEdit.Products.Add(pc);
                    pc = new ProductCountEntity();
                }
            }
            else if (byCashWait.Result.Count > 1)
            {
                showExtend = true;
            }
        }
    }
    private void PickProduct(ProductEntity product)
    {
        pc.ProductId = product.Id;
        pc.OrderId = orderToEdit.Id;
        pc.Product = product;
        if (product.CheckSauce)
        {
            showSauce = true;
            showExtend = false;
        }
        else
        {
            orderToEdit.Products.Add(pc);
            pc = new ProductCountEntity();
            cashNumber = "";
            showExtend = false;
        }
    }
    private void SetSauce(string sauce)
    {
        pc.Comment = sauce;
        orderToEdit.Products.Add(pc);
        pc = new ProductCountEntity();
        cashNumber = "";
        showExtend = false;
        showSauce = false;
    }
    private void DecrementCount(ProductCountEntity pc)
    {
        if (pc.Count != 1)
        {
            pc.Count--;
        }
    }
    async Task SetPaid(OrderEntity order)
    {
        if (order.IsPaid)
        {
            order.IsPaid = false;
        }
        else
            order.IsPaid = true;
        await OrderRepository.UpdateAsync(order);
    }
    async Task SetPack(OrderEntity order)
    {
        if (order.PackIt)
        {
            order.PackIt = false;
        }
        else
            order.PackIt = true;
        await OrderRepository.UpdateAsync(order);
    }
    async Task SaveProducts()
    {
        showProduct = false;
        showComment = false;
        await OrderRepository.UpdateAsync(orderToEdit);
    }
    void EditProducts(OrderEntity order)
    {
        orderToEdit = order;
        showProduct = true;
    }
    void EditComment(OrderEntity order)
    {
        orderToEdit = order;
        showComment = true;
    }
}
