﻿@page "/ustawienia/kategorie"
@inject IProduct ProductRepository
@inject ICategory CategoryRepository

@if (Categories == null)
{
    <p style="margin:auto;"><em>Ładowanie...</em></p>
}
else if (Categories.Count == 0)
{
    <p style="margin:auto;"><em>Brak</em></p>
}
else
{
    <div class="row" style="margin-top:5vh;overflow:auto;max-height:80vh;">
        <table>
            <tr>
                <th>Nazwa</th>
                <th>Obraz</th>
                <th>Akcja</th>
            </tr>
            @foreach (CategoryEntity category in Categories)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>Klik</td>
                    <td @onclick="(()=>DeleteCategory(category.Id))">Usuń</td>
                </tr>
            }
        </table>
    </div>
}
<div class="row" style="margin-top:5vh;width:90vw;margin:auto;">
    <div class="offset-8 col-4"><button @onclick="@(() => SaveChanges())">Zapisz</button></div>
</div>
<EditForm Model="CategoryModel" OnValidSubmit="AddProduct" style="display:flex;">
    <div class="row" style="margin-top:5vh;width:90vw;margin:auto;">

        <DataAnnotationsValidator />
        <div class="col"><input @bind="CategoryModel.Name" placeholder="Nazwa" /></div>
        <div class="col"><InputFile OnChange="HandleFile" /></div>
        <button type="submit">Dodaj</button>
    </div>
    <div class="row" style="width:90vh;">
        <ValidationMessage For="@(() => CategoryModel.Name)" />
    </div>
</EditForm>
@if (showDelete)
{
<div class="row" style="position:fixed;top:40%;left:50%;height:20vh;width:50vw;margin-left:-25vw;">
    <div class="col-6" style="border:solid;border-color:rebeccapurple;font-size:20px;" @onclick="AcceptDeleteCategory"><span style="position:absolute;margin:auto;">Usuń</span></div>
    <div class="col-6" style="border:solid;border-color:rebeccapurple;font-size:20px;" @onclick="CancelDeleteCategory"><span style="position:absolute;margin:auto;">Anuluj</span></div>
</div>
}

@code {
    List<CategoryEntity> Categories;
    private CategoryEntity CategoryModel { get; set; } = new CategoryEntity();
    string type;
    string idToDelete;
    bool showDelete;

    protected override async Task OnInitializedAsync()
    {
        Categories = await CategoryRepository.GetAsync();
        showDelete = false;
    }
    private async Task SaveChanges()
    {
        await CategoryRepository.UpdateAsync(Categories);
    }
    private async Task AddProduct()
    {
        Categories.Add(CategoryModel);
        await CategoryRepository.AddAsync(CategoryModel);
        CategoryModel = new CategoryEntity();
    }
    async Task HandleFile(IFileListEntry[] files)
    {
        var file = files.FirstOrDefault();
        type = file.Type;
        if (file != null && file.Type.Contains("image"))
        {

            var ms = new MemoryStream();
            await file.Data.CopyToAsync(ms);
            CategoryModel.Image = ms.GetBuffer();
        }
    }
    async Task DeleteCategory(Guid id)
    {
        List<ProductEntity> fullList = await ProductRepository.GetAsync();
        var list = fullList.Where(i => i.CategoryId == id);
        if (list.Count()>0)
        {
            showDelete = true;
            idToDelete = id.ToString();
        }
        else
        {
            Categories.Remove(Categories.Find(i => i.Id == id));
            await CategoryRepository.DeleteAsync(id);
        }
    }
    private async Task AcceptDeleteCategory()
    {
        showDelete = false;
        Categories.Remove(Categories.Find(i => i.Id == Guid.Parse(idToDelete)));
        await CategoryRepository.DeleteAsync(Guid.Parse(idToDelete));
        idToDelete = "";
    }
    private void CancelDeleteCategory()
    {
        idToDelete = "";
        showDelete = false;
    }
}
