﻿@page "/rozliczenie"
@inject IOrder OrderRepository

<div class="row">
    <div class="col-12 text-center">
        <p class="text-center" style="font-size:40px">Rozliczenie dzisiaj</p>
    </div>
    <div class="offset-3 col-6">
        <div class="row col-12">
            <p style="margin:auto;" class="text-center">Dzisiaj</p>
        </div>
        <div class="row">
            Kasa: @DailyLocalPrice
        </div>
        <div class="row">
            Kierowca: @DailyDriverPrice
        </div>
    </div>
</div>

@code {
    private List<OrderEntity> orders;
    private float DailyDriverPrice=0;
    private float DailyLocalPrice=0;

    protected override async Task OnInitializedAsync()
    {
        orders = await OrderRepository.GetOrdersAsync();
        foreach (OrderEntity order in orders.Where(i=>i.FinishDate.ToShortDateString()==DateTime.Today.ToShortDateString()))
        {
            if (string.IsNullOrEmpty(order.Address))
            {
                foreach (ProductCountEntity product in order.Products)
                {
                    DailyLocalPrice += product.Count * product.Product.Price;
                }
            }
            else
            {
                foreach (ProductCountEntity product in order.Products)
                {
                    DailyDriverPrice += product.Count * product.Product.Price;
                }
            }
        }
    }
}
