﻿@page "/historia"
@inject IOrder OrderRepository

@if (orders == null)
{
    <p><em>Ładowanie...</em></p>
}
else if (orders.Count == 0)
{
    <p style="margin:auto;"><em>Brak historii</em></p>
}
else
{
    @foreach (OrderEntity order in orders.Where(o => o.IsDone).OrderBy(o => o.CreateDate))
    {
        <div class="row" style="margin-top:20px;">
            <div class="col-9">
                <div class="row">
                    @foreach (ProductCountEntity product in order.Products)
                    {
                        <div class="col-6">@product.Product.Name @(string.IsNullOrEmpty(product.Product.SubName)? product.Product.SubName:"") Ilość:@product.Count </div>
                    }
                    @if (!string.IsNullOrEmpty(order.Comment))
                    {
                        <div class="col-12">@order.Comment</div>
                    }
                </div>
            </div>
            <div class="col-3">
                <div class="row col-12">@order.CreateDate.ToShortTimeString()</div>
                @if (order.IsOwnPickup)
                {
                    <div class="row col-12">Odbiór własny @(order.PackIt?"zapakować":"") </div>
                }
                else
                {
                    <div class="row col-12">
                        @order.Address
                    </div>
                }
                <div class="row col-12">
                    @(order.IsPaid?"Zapłacono":"Do zapłaty: ")
                    @if (!order.IsPaid)
                    {
                        @order.TotalPrice
                    }
                </div>
                <div class="row col-12">
                    <button class="btn btn-success" @onclick="()=>SetUnDone(order)">Wycofaj</button>
                </div>
            </div>
        </div>
    }
}

@code {
    private List<OrderEntity> orders;

    protected override async Task OnInitializedAsync()
    {
        orders = await OrderRepository.GetOrdersAsync();
    }
    private async Task SetUnDone(OrderEntity order)
    {
        order.IsDone = false;
        await OrderRepository.UpdateAsync(order);
    }
}
