﻿@page "/"
    <div class="center text-center" style="margin:auto;margin-top: 4vh;height:auto;">
        <NavLink href="/nowezamowienie" class="btn-success btn"
                 style="width:70vw;height: 15vh;margin: auto;margin: auto;display:flex;">
            <span style="margin:auto;">Nowe zamówienie</span>
        </NavLink>
        <NavLink href="/realizowane" class="btn btn-info"
                 style="width: 70vw;height: 15vh;margin: auto;margin-top: 4vh;margin-top:4vh;display:flex;">
            <span style="margin:auto;">Realizowane</span>
        </NavLink>        
        <NavLink href="/historia" class="btn btn-warning"
                 style="width: 70vw;height: 15vh;margin: auto;margin-top:4vh;display:flex;">
            <span style="margin:auto;">Historia</span>
        </NavLink>
        <NavLink href="/rozliczenie" class="btn btn-danger justify-content-center align-content-center"
                 style="width: 70vw;font-size: 20px;height: 15vh;margin: auto;margin-top:4vh;display:flex;">
            <span style="margin:auto;">Przelicz</span>
        </NavLink>
        <NavLink href="/ustawienia" class="btn btn-secondary"
                 style="width: 70vw;font-size: 20px;height: 15vh;margin: auto;margin-top:4vh;display:flex;">
            <span style="margin:auto;">Ustawienia</span>
        </NavLink>
    </div>