﻿@page "/nowezamowienie"
@using Pizzeria.Domain.Entities
@inject IProduct ProductRepository
@inject IOrder OrderRepository
    <div class="row">
        <div class="col-4" style="border:1px solid black;border-left:none;border-top-right-radius:25px;padding-left:0px;background-color: ghostwhite;">
            <div class="row col-12" style="height:72vh;padding-left:0px;font-size: 13px;padding-right:0px;">
                <table>
                    <tr>
                        <th class="col-3">Nazwa</th>
                        <th class="col-3">Komentarz</th>
                        <th class="col-2">Cena</th>
                        <th class="col-3">Ilosc</th>
                        <th class="col-1">Akcja</th>
                    </tr>
                    @foreach (ProductCountEntity product in order.Products)
                    {
                        <tr>
                            <td class="col-4">@product.Product.Name</td>
                            <td class="col-3">@product.Comment</td>
                            <td class="col-1">@product.Product.Price</td>
                            <td class="col-3"><button @onclick="(()=>product.Count++)" class="btn btn-outline-info" style="width: 15px;padding-left: 10px;padding-right: 10px;padding-top: 2px;width:25px;height:30px;margin-right:5px;">+</button>@product.Count<button class="btn btn-outline-danger"@onclick="(()=>DecrementCount(product))"  style="width: 15px;padding-left: 10px;padding-right: 10px;padding-top: 2px;width:25px;height:30px;margin-left:5px;">-</button></td>
                            <td class="col-1"><span class="btn btn-danger" @onclick="@(() => order.Products.Remove(product))">Usuń</span></td>
                        </tr>
                    }
                </table>
            </div>
            <div class="row" style="height:14vh;">
                <div class="col-6">Całkowity koszt: @order.TotalPrice</div>
            </div>
        </div>
        <div class="col-8">
            <div class="row" style="height:50px;">
                <div class="col-12 text-center btn btn-primary" @onclick="AddOrder" style="font-size:25px;">Dodaj zamówienie</div>
            </div>
            <div class="row" style="height:50px;">
                <div class="col-12 text-center" style="font-size:23px;padding-left:0px;padding-right:0px;border-right:solid 2px;border-left:solid 2px;border-color:#1861ac;padding-top:5px;">@cashNumber</div>
            </div>
            <div class="row">
                <div class="col-4" style="padding:0px;height:15vh;font-size:15px;">
                    <button class="btn btn-primary" @onclick="(() =>cashNumber+='1')" style="width:100%;height:100%;border-radius: 0px;">1</button>
                </div>
                <div class="col-4" style="padding: 0px;height: 15vh;">
                    <button class="btn btn-primary" @onclick="(() =>cashNumber+='2')" style="width:100%;height:100%;border-radius: 0px;">2</button>
                </div>
                <div class="col-4" style="padding:0px;height:15vh;">
                    <button class="btn btn-primary" @onclick="(() =>cashNumber+='3')" style="width:100%;height:100%;border-radius: 0px;">3</button>
                </div>
                <div class="col-4" style="padding:0px;height:15vh;">
                    <button class="btn btn-primary" @onclick="(() =>cashNumber+='4')" style="width:100%;height:100%;border-radius: 0px;">4</button>
                </div>
                <div class="col-4" style="padding:0px;height:15vh;">
                    <button class="btn btn-primary" @onclick="(() =>cashNumber+='5')" style="width:100%;height:100%;border-radius: 0px;">5</button>
                </div>
                <div class="col-4" style="padding:0px;height:15vh;">
                    <button class="btn btn-primary" @onclick="(() =>cashNumber+='6')" style="width:100%;height:100%;border-radius: 0px;">6</button>
                </div>
                <div class="col-4" style="padding:0px;height:15vh;">
                    <button class="btn btn-primary" @onclick="(() =>cashNumber+='7')" style="width:100%;height:100%;border-radius: 0px;">7</button>
                </div>
                <div class="col-4" style="padding:0px;height:15vh;">
                    <button class="btn btn-primary" @onclick="(() =>cashNumber+='8')" style="width:100%;height:100%;border-radius: 0px;">8</button>
                </div>
                <div class="col-4" style="padding:0px;height:15vh;">
                    <button class="btn btn-primary" @onclick="(() =>cashNumber+='9')" style="width:100%;height:100%;border-radius: 0px;">9</button>
                </div>
                <div class="col-4" style="padding: 0px; height: 15vh;">
                    <button class="btn btn-primary" @onclick='(() =>cashNumber="")' style="width:100%;height:100%;border-radius: 0px;">Wyczyść</button>
                </div>
                <div class="col-4" style="padding: 0px;
        height: 15vh;
">
                    <button class="btn btn-primary" @onclick="(() =>cashNumber+='0')" style="width:100%;height:100%;border-radius: 0px;">0</button>
                </div>
                <div class="col-4" style="padding:0px;height:15vh;">
                    <button class="btn btn-primary" @onclick="@AddProduct" style="width:100%;height:100%;border-radius: 0px;">Dodaj</button>
                </div>
            </div>
            <div class="row" style="margin-top:2vh;">
                <div class="col-4 btn @(order.PackIt?"btn-success":"btn-outline-success")" @onclick="SetPack">Na wynos</div>
                <div class="col-4 btn @(order.IsOwnPickup?"btn-outline-success":"btn-success")" @onclick="SetAddress">Na dowóz</div>
                <div class="col-4 btn @(order.IsPaid?"btn-success":"btn-outline-success")" @onclick="SetPaid">Zapłacono</div>
            </div>
        </div>
    </div>
@if (showExtend)
{
    <div class="row" style="position:fixed;top:40%;left:50%;height:20vh;width:50vw;margin-left:-25vw;">
        @foreach (ProductEntity item in byCashWait.Result)
        {
            <div class="col-6" style="border: solid; border-color: rebeccapurple; font-size: 20px;" @onclick="(()=>PickProduct(item))"><span style="position:absolute;margin:auto;">@item.Name : @item.Price</span></div>
        }
    </div>
}
@if (showAddress)
{
    <div class="row" style="        position: fixed;
        top: 40%;
        left: 50%;
        height: 20vh;
        width: 50vw;
        margin-left: -25vw;">
        <div class="col-12">
            <EditForm Model="order" style="height:100px;">
                <div class="row">
                    <div class="offset-4 col-6" style="font-size:20px;"><InputText @bind-Value="order.Address" style="position:absolute;margin:auto;"></InputText></div>
                </div>
            </EditForm>
            <div class="row">
                <div class="offset-3 col-3"><button @onclick="ExitAddress">Wyjdź</button></div>
                <div class="col-3"><button @onclick="CancelAddress">Anuluj</button></div>
                <div class="col-3"><button @onclick="SaveAddress">Zapisz</button></div>
            </div>
        </div>
    </div>
}
@if (showSauce)
{
    <div class="row" style="position:fixed;top:40%;left:50%;height:20vh;width:50vw;margin-left:-25vw;">
        <div class="col-12">
            <div class="row">
                <div class="col-3"><button class="btn" @onclick="@(()=>SetSauce("Łagodny"))">Łagodny</button></div>
                <div class="col-3"><button class="btn" @onclick="@(()=>SetSauce("Mieszany"))">Mieszany</button></div>
                <div class="col-3"><button class="btn" @onclick="@(()=>SetSauce("Ostry"))">Ostry</button></div>
                <div class="col-3"><button class="btn" @onclick="@(()=>SetSauce("Ketchup"))">Ketchup</button></div>
            </div>
        </div>
    </div>
}
@code {
    private string cashNumber;
    OrderEntity order = new OrderEntity();
    ProductCountEntity pc = new ProductCountEntity();
    bool showExtend = false;
    bool showAddress = false;
    bool showSauce = false;

    Task<List<ProductEntity>> byCashWait;

    private void SetSauce(string sauce)
    {
        pc.Comment = sauce;
        order.Products.Add(pc);
        pc = new ProductCountEntity();
        cashNumber = "";
        showExtend = false;
        showSauce = false;
    }
    private void DecrementCount(ProductCountEntity pc)
    {
        if (pc.Count != 1)
        {
            pc.Count--;
        }
    }
    private void AddProduct()
    {
        if (cashNumber.Trim().Length>0)
        {
            byCashWait = ProductRepository.GetProductByCashNumberAsync(Int32.Parse(cashNumber));
            byCashWait.Wait();
            if (byCashWait.Result.Count == 1 && !byCashWait.Result[0].IsBlocked)
            {
                pc.ProductId = byCashWait.Result[0].Id;
                pc.OrderId = order.Id;
                pc.Product = byCashWait.Result[0];
                if (byCashWait.Result[0].CheckSauce)
                {
                    showSauce = true;
                }
                else
                {
                    order.Products.Add(pc);
                    pc = new ProductCountEntity();
                }
            }
            else if (byCashWait.Result.Count > 1)
            {
                showExtend = true;
            }
        }
    }
    private void PickProduct(ProductEntity product)
    {
        pc.ProductId = product.Id;
        pc.OrderId = order.Id;
        pc.Product = product;
        if (product.CheckSauce)
        {
            showSauce = true;
            showExtend = false;
        }
        else
        {
            order.Products.Add(pc);
            pc = new ProductCountEntity();
            cashNumber = "";
            showExtend = false;
        }
    }
    private void SetPaid()
    {
        if (order.IsPaid)
        {
            order.IsPaid = false;
        }
        else
            order.IsPaid = true;
    }
    private void SetPack()
    {
        if (order.PackIt && order.IsOwnPickup)
        {
            order.PackIt = false;
        }
        else
            order.PackIt = true;
    }
    private void SetAddress()
    {
        showAddress = true;
    }
    private void CancelAddress()
    {
        showAddress = false;
        order.PackIt = false;
        order.Address = "";
        order.IsOwnPickup = true;

    }
    private void ExitAddress()
    {
        showAddress = false;
    }
    private void SaveAddress()
    {
        if (order.Address.Trim() != "")
        {
            order.PackIt = true;
            order.IsOwnPickup = false;
            showAddress = false;
        }
    }
    private void AddOrder()
    {
        if (order.Products.Count > 0)
        {
            foreach (ProductCountEntity item in order.Products)
            {
                item.Product = null;
            }
            order.CreateDate = DateTime.Now;
            Task<bool>waitAdd= OrderRepository.AddAsync(order);
            waitAdd.Wait();
            order = new OrderEntity();
        }
    }
}
