﻿@page "/ustawienia/listaproduktow"
@inject IProduct ProductRepository
@inject ICategory CategoryRepository

@if (Categories == null)
{
    <p style="margin:auto;"><em>Ładowanie...</em></p>
}
else if (Categories.Count == 0)
{
    <p style="margin:auto;"><em>Brak kategorii dla produktów dodaj je w pierwszej kolejności</em></p>
}
else
{
    <div class="row" style="margin-top:5vh;overflow:auto;max-height:80vh;">
        @if (Products == null)
        {
            <p style="margin:auto;"><em>Ładowanie...</em></p>
        }
        else if (Products.Count == 0)
        {
            <p style="margin:auto;"><em>Brak produktów</em></p>
        }
        else
        {
            <table>
                <tr>
                    <th>Nazwa</th>
                    <th>Nazwa dodatkowa</th>
                    <th>Typ</th>
                    <th>Cena</th>
                    <th>Numer kasy</th>
                    <th>Zablokowany</th>
                    <th>Pytaj o sos</th>
                    <th>Akcja</th>
                </tr>
                @foreach (ProductEntity product in Products)
                {
            <tr>
                <td><input @bind="product.Name" placeholder="nazwa" /></td>
                <td><input @bind="product.SubName" placeholder="dodatkowa nazwa" /></td>
                <td>
                    <select @bind="product.CategoryId">
                        @foreach (CategoryEntity category in Categories)
                        {
                            <option value="@category.Id.ToString()">@category.Name</option>
                        }
                    </select>
                </td>
                <td><input @bind="product.Price" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="Cena" /></td>
                <td><input @bind="product.CashRegisterNumber" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="Numer kasy" /></td>
                <td>
                    <input type="checkbox" @bind="product.IsBlocked" />@{ if (product.IsBlocked)
                        {<p>Tak</p>}
                        else
                        {<p>Nie</p>}}
                </td>
                <td>
                    <input type="checkbox" @bind="product.CheckSauce" />@{ if (product.CheckSauce)
                        {<p>Tak</p>}
                        else
                        {<p>Nie</p>}}
                </td>
                <td @onclick="(()=>DeleteProduct(product.Id))">Usuń</td>
            </tr>
                }
            </table>
        }
    </div>
    <div class="row" style="margin-top:5vh;width:90vw;margin:auto;">
        <div class="offset-8 col-4"><button @onclick="@(() => SaveChanges())">Zapisz</button></div>
    </div>
    <div class="row" style="margin-top:5vh;width:90vw;margin:auto;">
        <EditForm Model="ProductModel" OnSubmit="AddProduct"  style="display:flex;">
            <ValidationSummary/>
            <div class="col"><input @bind="ProductModel.Name" placeholder="Nazwa" /></div>
            <div class="col"><input @bind="ProductModel.SubName" placeholder="Druga nazwa" /></div>
            <div class="col">
                <select @bind="ProductModel.CategoryId">
                    @foreach (CategoryEntity category in Categories)
                    {
                        <option value="@category.Id.ToString()">@category.Name</option>
                    }
                </select>
            </div>
            <div class="col"><input @bind="ProductModel.Price" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="Cena" /></div>
            <div class="col"><input @bind="ProductModel.CashRegisterNumber" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="Numer kasy" /></div>
            <button type="submit">Dodaj</button>
        </EditForm>
    </div>
}
@code {
    List<ProductEntity> Products;
    List<CategoryEntity> Categories;
    private ProductEntity ProductModel { get; set; } = new ProductEntity();

    protected override async Task OnInitializedAsync()
    {
        Products = await ProductRepository.GetAsync();
        Categories = await CategoryRepository.GetAsync();
    }
    private async Task AddProduct()
    {
        Products.Add(ProductModel);
        await ProductRepository.AddAsync(ProductModel);
        ProductModel = new ProductEntity();
    }
    private async Task SaveChanges()
    {
        await ProductRepository.UpdateAsync(Products);
    }
    private async Task DeleteProduct(Guid id)
    {
        Products.Remove(Products.Find(i => i.Id == id));
        await ProductRepository.DeleteAsync(id);
    }
}
