﻿@page "/ustawienia"
    <div class="center text-center" style="margin:auto;margin-top: 4vh;height:auto;">
        <NavLink href="/ustawienia/listaproduktow" class="btn-success btn"
                 style="width:70vw;height: 20vh;margin: auto;margin: auto;display:flex;">
            <span style="margin:auto;">Lista Produktów</span>
        </NavLink>
        <NavLink href="/ustawienia/kategorie" class="btn btn-warning"
                 style="width: 70vw;height: 20vh;margin: auto;margin-top:4vh;display:flex;">
            <span style="margin:auto;">Kategorie</span>
        </NavLink>
    </div>
@code {
}
