﻿@inherits LayoutComponentBase
@inject NavigationManager MyNavigationManager
@if (MyNavigationManager.BaseUri!= MyNavigationManager.Uri)
{
    <div class="row" style="margin-bottom:2vh;margin-top:10px;margin-left:10px;">
        <button class="btn btn-danger" onclick="history.go(-1)">Wróć</button>
    </div>
}
@Body

